/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*  END RESET */


/* STYLING GENERELT */
.fronsegoder {
    background-color: aquamarine;
    text-align: center;
}
    #header {
    display: inline-flex;
    list-style: none;
}
    

h1 {
    background-color: lawngreen;
    text-align: center;
}

.betjening {
    background-color: yellow;
    text-align: center;
}
.selvbetjening {
    list-style: none;
    display: inline-flex;
}

.overstemenu {
    background-color: darkkhaki;
    text-align: center;
}
.menutop {
    list-style: none;
    display: inline-flex;    
}

#kompletboks {
    list-style: none;
    background-color: aqua;
    grid-area: komplet;
}

#deleboks {
    list-style: none;
    background-color: orange;
    grid-area: dele;
}

#beskyttelseboks {
    list-style: none;
    background-color: palevioletred;
    grid-area: beskyttelse;
}

#apparelboks {
    list-style: none;
    background-color: green;
    grid-area: apparel;
}

#rampeboks {
    list-style: none;
    background-color: darkgrey;
    grid-area: rampe;
}

.nyheder {
    list-style: none;
    background-color: pink;
}

#top3lobehjul {
    list-style: none;
    background-color: brown;
}

#top3deck {
    list-style: none;
    background-color: orchid;
}

#top3bars {
    list-style: none;
    background-color: wheat;
}

#top3hjul {
    list-style: none;
    background-color: seagreen;
}

#top3hjelme {
    list-style: none;
    background-color: crimson;
}

#top3knabeskyttere {
    list-style: none;
    background-color: lavender;
}

#sporgsmal{
    list-style: none;
   background-color: deepskyblue; 
}

.support {
    list-style: none;
    background-color: greenyellow;
}

.scootershop {
    list-style: none;
    background-color: darkcyan;
}

.juridisk {
    list-style: none;
    background-color: skyblue;
}

/* STYLING GENERELT */


/* GRID AREAS */
.fronsegoder {
    grid-area: header;
}
    
#overskrift {
    grid-area: titel;
}

.betjening {
    grid-area: selvbetjening;
}

.overstemenu {
    grid-area: overstemenu;
}

.menuleft {
    grid-area: menuleft;
}


.nyheder {
    grid-area: nyheder;
}

.top3 {
    grid-area: top3;
}

#top3lobehjul {
    grid-area: top3lobehjul;
}

#top3deck {
    grid-area: top3deck;
}

#top3bars {
    grid-area: top3bars;
}

#top3hjul {
    grid-area: top3hjul;
}

#top3hjelme {
    grid-area: top3hjelme;
}

#top3knabeskyttere {
    grid-area: top3knabeskyttere;
}

footer {
    grid-area: footer;
}
/* GRID AREAS */



/* GRID FOR HELE SIDEN. ALTSÅ CONTAINERNE OG RESPONSIV GRID FOR MOBIL */
#grid {
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: (11, 0.5fr);
        grid-gap: 5px;
        grid-template-areas: 
            "header"
            "selvbetjening"
            "overstemenu"
            "nyheder"
            "top3lobehjul"
            "top3deck"
            "top3bars"
            "top3hjul"
            "top3hjelme"
            "top3knabeskyttere"
            "footer";
    }   

/* STYLING MOBIL */
#overskrift {
    visibility: hidden;
}

.menuleft {
    visibility: hidden;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.selvbetjening {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.menutop {
    display: grid;
    grid-template-columns: (8, 1fr);
}
/* STYLING MOBIL */
/* GRID FOR HELE SIDEN. ALTSÅ CONTAINERNE OG RESPONSIV GRID FOR MOBIL */



/* GRID FOR HELE SIDEN. ALTSÅ CONTAINERNE OG RESPONSIV GRID FOR TABLET */
@media screen and (min-width: 700px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 5px;
        grid-template-areas:
            "header header header"
            "selvbetjening selvbetjening selvbetjening"
            "overstemenu overstemenu overstemenu"
            "menuleft nyheder nyheder"
            "menuleft top3 top3"
            "menuleft top3 top3"
            "menuleft top3 top3"
            "footer footer footer";
    }
    
    .menuleft {
        visibility: visible;
    }
    
    
}
/* GRID FOR HELE SIDEN. ALTSÅ CONTAINERNE OG RESPONSIV GRID FOR TABLET */



/* GRID FOR HELE SIDEN. ALTSÅ CONTAINERNE OG RESPONSIV GRID FOR DESKTOP */
@media screen and (min-width: 900px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 1.5fr 0.8fr 0.4fr 1.5fr 1fr 1fr 0.3fr;
        grid-gap: 5px;
        grid-template-areas:
            "header header header header"
            "titel titel titel titel"
            "selvbetjening selvbetjening selvbetjening selvbetjening"
            "overstemenu overstemenu overstemenu overstemenu"
            "menuleft nyheder nyheder nyheder"
            "menuleft nyheder nyheder nyheder"
            "menuleft top3 top3 top3"
            "menuleft top3 top3 top3"
            "footer footer footer footer";
    }
    
    .menuleft {
        visibility: visible;
    }
    
    #overskrift {
        visibility: visible;
    }
}
/* GRID FOR HELE SIDEN. ALTSÅ CONTAINERNE OG RESPONSIV GRID FOR DESKTOP */



